.container {
    display: flex;
}

.tartalom {
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
header{
    grid-area: h;
}
article{
    grid-area: a;
}
aside{
    grid-area: as;
    
}
footer{
    grid-area: f;
}
main{
    display: grid;
    grid-template-areas: 
    "h h h"
    "a a as"
    "a a as"
    "f f f";
}
.dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}
#kepek {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    text-align: center;
    color: white ;
}